body {
    font-family: Arial, sans-serif;
    background-color: lemonchiffon;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

.ingredients-list {
    list-style: square inside;
}

ol {list-style: decimal inside;}

header > img {
    width: 100px;
}

ul li a {
    text-decoration: none;
    color: inherit;
}

ol li:nth-of-type(2n) {
    background-color: lightgray;
}

h2 + .user_review {
    border-top: 1px solid black;
}

input[type="radio"] {
    background-image: url("../assets/stars.png");
}

input:last-child:hover {
    /* background-color: gold; */
    -webkit-filter: brightness(90%);
}

input:last-child {
    background-color: gold;
}


nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 20px;
    display: block;
}

nav {
    display: inline-block;
}

body {
    width: 900px;
    margin: 0 auto;
}

section {
    width: 700px;
    display:  inline-block;
    vertical-align: top;
}

aside {
    width: 180px;
    display: inline-block;
    margin-right: 15px;
}


ul li, ol li {
    margin: 15px 0;
}

form label {
    display: block;
}


select {
    margin: 10px 0;
    width: 250px;
}

textarea {
    width: 400px;
    height: 80px;
}
